<odoo>
    <!-- Main Menu -->
    <menuitem
            id="menu_root"
            name="Error"
            action="action_error"
            sequence="10"
            web_icon="error,static/description/icon.png"
    />
    <menuitem
            id="menu_error"
            name="Error"
            action="action_error"
            sequence="10"
            parent="menu_root"
    />
    <menuitem
            id="menu_configuration"
            name="Configuration"
            sequence="10"
            parent="menu_root"

    />
<!--  action="action_Error_Tags"  değişiecek  -->
    <menuitem
            id="menu_error_tags"
            name="Error_tags"
            action="action_Error_Tags"
            sequence="15"
            parent="menu_configuration"
    />


</odoo>